<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Calculadora</title>

<link rel="icon" type="image/png" href="images/calcuworld.png">

<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="css/chuchu.css" media="screen" />

</head>

<body>
<header>
<div class="container">
<div class="row">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Calculadora</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

      </ul>
    </div>
  </nav>
  </div>
  </div>
</header>
<main>
<div class="container">
<div class="row">
<% if (!user) { %>


<div align="center">
	<p>
	<br><br>
	<a href="/login/facebook"><img src="images/login_fb.png" width="23%" /> </a> </p>
</div>

<% } else { %>
	<p>Hola:, <%= user.displayName %>.</p>
  <br>
  <p>Este es tu numero de visitas a nuestra página web: <%=visitas %></p>
  <br>
  <p>Puedes ver tu perfíl aquí <a href="/profile">Perfil</a>.</p>

	<% include calculadora %>

<% } %>
</div>
</div>
</main>

<footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Calculadora</h5>
                <p class="grey-text text-lighten-4">Proyecto final de la asignatura Desarrollo de Sistemas Informáticos.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/ULL-ESIT-DSI-1617/proyecto-dsi-gabriel-danid-danir-l1">Proyecto GitHub</a></li>
                  <br>
                  <li><a class="grey-text text-lighten-3" href="https://alu0100882186.github.io/">Daniel Díaz García</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://alu0100885453.github.io/">Gabriel Fernández Castro</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://alu0100886764.github.io/">Daniel Rodríguez Martín</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017

            </div>
          </div>
        </footer>


</body>

</html>
